@mixin positionFixed($top: null, $right: null, $bottom: null, $left: null) {
    position: fixed;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}


@mixin squareIcon($color: null) {
    @extend %flexCenter;
    color: $primaryColor;
    background-color: $lightColor;
    text-decoration: none;
    border: 0 solid $color;
    border-radius: 20%;
    padding: .4rem .6rem;
    box-shadow: $sharedShadow
}


// Button
@mixin btn($btn-padding: 0.5rem, $btn-fontSize: $buttonFontSize, $btn-color: $buttonColor, $btn-bgColor: $buttonBgColor, $btn-fontWeight: $buttonFontWeight, $btn-corner: $buttonCorner) {
    @extend %flexCenter;
    padding: $btn-padding;
    font-size: $btn-fontSize;
    color: $btn-color;
    background-color: $btn-bgColor;
    border: none;
    border-radius: $btn-corner;
    font-weight: $btn-fontWeight;
    text-transform: uppercase;
    cursor: pointer;
    filter: drop-shadow($buttonDropShadow);
}
