@mixin positionFixed($top: null, $right: null, $bottom: null, $left: null) {
    position: fixed;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}


@mixin squareIcon($color: null) {
    @extend %flexCenter;
    color: $primary_color;
    background-color: $light_color;
    text-decoration: none;
    border: 0 solid $color;
    border-radius: 20%;
    padding: .4rem .6rem;
    box-shadow: $shared_shadow
}


// Button
@mixin btn($btn-padding: 0.5rem, $btn-fontSize: $button_fontSize, $btn-color: $button_color, $btn-bgColor: $button_bgColor,$btn-corner: $button_corner, $btn-fontWeight: $button_fontweight) {
    @extend %flexCenter;
    padding: $btn-padding;
    font-size: $btn-fontSize;
    color: $btn-color;
    background-color: $btn-bgColor;
    border: none;
    border-radius: $btn-corner;
    font-weight: $btn-fontWeight;
    text-transform: uppercase;
    cursor: pointer;
    filter: drop-shadow($button_dropshadow);
}