// Colors
$lightColor: #ffffff;
$darkColor: #373F51;
$primaryColor: #58A4B0;
$secondaryColor: #DAA49A;
$tertiaryColor: #A9BCD0;
$itemDisabledColor: #e4e6e8;
$textDark: #6b6b6b;
$borderColor: #060d2c33;
$backgroundItem: #D8DBE2;
// FontSize
$fontSize_small: 0.9375rem;
$fontSize_medium: 1.0625rem;
$fontSize_large: 1.275rem;
$fontSize_big: 1.81rem;
// interline
$lineHeight_medium: 1.9;
$lineHeight_large: 3;
// gutters
$gutter_small: 0.75rem;
$gutter_medium: 0.9375rem;
$gutter_large: 2.3125rem;

// Header Vars
$headerArrowIcon_color: $primaryColor;
$headerArrowIconDisabled_color: $itemDisabledColor;
$headerCrossIcon_color: $secondaryColor;
$headerIcon_borderSize: 2px;
$headerIcon_width: 1.5rem; //* <=== You can change this value for modify icon size from header
$headerIcon_height: calc(#{$headerIcon_width} - #{$headerIcon_borderSize * 2});
$headerIcon_gutter: $gutter_large;
$headerLogo_width: 9.25rem;
$headerLogo_height: 2rem;
$header_gutter: $gutter_medium;
$header_BackgroundColor: $lightColor;
$header_width: 100%;
$header_height: calc(#{$headerLogo_height} + (#{$header_gutter * 2}));
$header_shadow: 0px 1px 1px 1px $borderColor;
$header_radius: 1em;
// Footer Vars
$footer_fontSize: $fontSize_small;
$footer_marginTop: calc(#{$gutter_large * 2});
$footer_color: $textDark;
// Page Vars
$page_gutter: $gutter_large;
$page_height: calc(100vh - #{$header_height});
$page_width: calc(100vw - (#{$page_gutter * 2}));
// LinkExternal
$linkExternal_color: $primaryColor;
// Menu
$menuItem_radius: 8px;
$menuItem_gutter: $gutter_small;
$menuItem_color: $darkColor;
$menuItem_fontsize: $fontSize_small;
$menuItem_backgroundColor: $backgroundItem;
$menuItemIcon_color: $lightColor;
$menuItemIcon_backgroundColor: $primaryColor;
$menuItemIcon_gutter: 0.5em;
$submenuItem_backgroundColor: #e5e5e5;
$submenuItemIcon_gutter: 0.25em;
$submenuItem_shadow: 0 0 0 hsla(229, 76%, 10%, 0.2),0 1px 2px hsla(229, 76%, 10%, 0.2),0 2px 4px hsla(229, 76%, 10%, 0.2);
$submenuItem_dropshadow: 0 1px 1px hsla(229, 76%, 10%, 0.4);
$submenuItem_corner: 0 0 $menuItemIcon_gutter $menuItemIcon_gutter;
// Button
$button_dropshadow: 0 1px 1px hsla(188, 36%, 52%, 0.4);
$button_bgColor: $primaryColor;
$button_color: $lightColor;
$button_fontweight: 400;
$button_fontSize: 1rem;