// Colors
$lightColor: #ffffff;
$darkColor: #373F51;
$primaryColor: #1B41BE;
$secondaryColor: #E6E9FF;
$tertiaryColor: #A9BCD0;
$itemDisabledColor: #e4e6e8;
$textDark: #6b6b6b;
$borderColor: #060d2c33;
$backgroundItem: #D8DBE2;
// FontSize
$fontSizeSmall: 0.9375rem;
$fontSizeMedium: 1.0625rem;
$fontSizeLarge: 1.275rem;
$fontSizeBig: 1.81rem;
// interline
$lineHeightMedium: 1.9;
$lineHeightLarge: 3;
// gutters
$gutterSmall: 0.75rem;
$gutterMedium: 0.9375rem;
$gutterLarge: 2.3125rem;

// Header Vars
$headerArrowIconColor: $primaryColor;
$headerArrowIconDisabledColor: $itemDisabledColor;
$headerCrossIconColor: $secondaryColor;
$headerIconBorderSize: 2px;
$headerIconWidth: 1.5rem; //* <=== You can change this value for modify icon size from header
$headerIconHeight: calc(#{$headerIconWidth} - #{$headerIconBorderSize * 2});
$headerIconGutter: $gutterLarge;
$headerLogoWidth: 9.25rem;
$headerLogoHeight: 2rem;
$headerGutter: $gutterSmall;
$headerBackgroundColor: $lightColor;
$headerWidth: 100%;
$headerHeight: calc(#{$headerLogoHeight} + (#{ $headerGutter }));
$headerShadow: 0px 1px 1px 1px $borderColor;
$headerRadius: 1em;
// Footer Vars
$footerFontSize: $fontSizeSmall;
$footerMarginTop: calc(#{$gutterLarge * 2});
$footerColor: $textDark;
// Shadow Vars
$sharedShadow: 0 .1875rem .375rem #E9E6FF;
// Page Vars
$pageGutter: $gutterLarge;
$pageHeight: calc(100vh - #{$headerHeight});
$pageWidth: calc(100vw - (#{$pageGutter * 2}));
$pageContentShadow: 0 -.25rem 1.9375rem $secondaryColor;
// LinkExternal
$linkExternalColor: $primaryColor;
// Menu
$menuItemRadius: 8px;
$menuItemGutter: $gutterSmall;
$menuItemColor: $darkColor;
$menuItemFontSize: $fontSizeSmall;
$menuItemBackgroundColor: $backgroundItem;
$menuItemIconColor: $lightColor;
$menuItemIconBackgroundColor: $primaryColor;
$menuItemIconGutter: 0.5em;
$submenuItemBackgroundColor: #e5e5e5;
$submenuItemIconGutter: 0.25em;
$submenuItemShadow: 0 0 0 hsla(229, 76%, 10%, 0.2),0 1px 2px hsla(229, 76%, 10%, 0.2),0 2px 4px hsla(229, 76%, 10%, 0.2);
$submenuItemDropShadow: 0 1px 1px hsla(229, 76%, 10%, 0.4);
$submenuItemCorner: 0 0 $menuItemIconGutter $menuItemIconGutter;
// Button
$buttonDropShadow: 0 1px 1px hsla(188, 36%, 52%, 0.4);
$buttonBgColor: $primaryColor;
$buttonColor: $lightColor;
$buttonFontWeight: 400;
$buttonFontSize: 1rem;
$buttonCorner: 8px;
